<!DOCTYPE html>
<html lang="en">
<head>
    <style> 
        body,h1,p{font-family: "Raleway", sans-serif}
        a {
            color: #00acee;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 12px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Splash</title>
    <br />
    <h1 class="w3-jumbo w3-animate-top">Twitter v192</h1>
    <hr class="w3-border-grey" style="margin:auto;width:100%">
    <p class="w3-large w3-center">Hello, welcome to a silly version of twitter</p>
    <br />

    <a href="{% url 'home'%}">Create Account</a>
</head>
<body>

</body>
</html>

